html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #bfffdc;
}

.gradient{
    background: rgb(0,139,106);
    background: linear-gradient(90deg, rgba(0,139,106,1) 0%, rgba(242,255,173,1) 100%);
}
.page-header{
    margin-top:4rem;
    font-size:1.25rem;
    color: #fff;
}
.feature{
    color:#fff;

}
.icon {
    color:#fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius:100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    background-color: whitesmoke;
}
.gallery img {
    border-radius: 5%;
}
.services {
    color:white
}
footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 100%;
}